.khan__buy-link {
  align-self: flex-start;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  margin-left: 48px;
  color: #2F80ED;
  transition: opacity .6s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
